<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947258076043-8fsuf0lh05qbm1fkt52lb6kd42m2dv5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947258076043-8fsuf0lh05qbm1fkt52lb6kd42m2dv5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDEtMMRv4vZp7nehtAgPN-h11PwGrR85gU</string>
	<key>GCM_SENDER_ID</key>
	<string>947258076043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.fontys.sm.FitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-8bb66</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-8bb66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947258076043:ios:33c89ab731e9ffa3</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-8bb66.firebaseio.com</string>
</dict>
</plist>